MODE=development

# Server port listening
HTTP_PORT=8084
GRPC_PORT=10001

DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASSWORD=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUAL_HOST=

TRANSACTION_ADDRESS=localhost:10002

GOOSE_DBSTRING=
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./config/db/migrations
